<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<head>
    <title>R(h)ein Ge Schaut - Schülerzeitung</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<nav th:replace="fragment/navigation :: navbar"></nav>

<div id="header" th:style="'background-image: url(/image/banner.png);'">
    <div class="overlay">
        <div class="textCenter">
            <div id="title">
                <p>R(h)ein Ge Schaut</p>
            </div>
            <div id="subTitle">
                <p>Die erste Schülerzeitung des RGS seit langem!</p>
            </div>

        </div>
    </div>
</div>

<div id="contentContainer">
    <div class="overlay" >
        <div class="textCenter">
            <div id="subInfo">
                <p>Nächste Veröffentlichung am:</p>
                <p>17.9.2022</p>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div id="FAQTitle">
        <p>FAQ</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="faq-wrapper">
                <div class="faq-inner">
                    <div class="faq-item">
                        <h3>
                            What is an FAQ page ?
                            <span class="faq-plus">&plus;</span>
                        </h3>
                        <div class="faq-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h3>
                            What is an FAQ page ?
                            <span class="faq-plus">&plus;</span>
                        </h3>
                        <div class="faq-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h3>
                            What is an FAQ page ?
                            <span class="faq-plus">&plus;</span>
                        </h3>
                        <div class="faq-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h3>
                            What is an FAQ page ?
                            <span class="faq-plus">&plus;</span>
                        </h3>
                        <div class="faq-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                    <hr>
                    <div class="faq-item">
                        <h3>
                            What is an FAQ page ?
                            <span class="faq-plus">&plus;</span>
                        </h3>
                        <div class="faq-body">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".faq-plus").on('click', function(){
            $(this).parent().parent().find('.faq-body').slideToggle();
        });
    </script>


    <div id="footer">
        <p>Copyright 2022 | Clemens Robrecht</p>
    </div>
</div>

</body>

</html>