<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<head>
    <title>R(h)ein Ge Schaut - Schülerzeitung</title>
    <link href="" rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<nav th:replace="fragment/navigation :: navbar"></nav>

<div id="header" th:style="'background-image: url(/image/banner.png);'">
    <div class="overlay">
        <div class="textCenter">
            <div id="title">
                <p>R(h)ein Ge Schaut</p>
            </div>
            <div id="subTitle">
                <p>Die erste Schülerzeitung des RGS seit langem!</p>
            </div>

        </div>
    </div>
</div>

<div id="contentContainer">
    <div class="overlay" >
        <div class="textCenter">
            <div id="subInfo">
                <p>Nächste Veröffentlichung am:</p>
                <p>17.9.2022</p>
            </div>
        </div>
    </div>


    <div id="footer">
        <p>Copyright 2022 | Clemens Robrecht</p>
    </div>
</div>

</body>

</html>